@import url(https://www.fontspace.com/simple-love-font-f100350);
@font-face {
    font-family: font-1;
    src: url(./Documents/SimpleLove-8MJYA.otf);
}



body{
    
    background-repeat: no-repeat;
    height: 100vh;
    /* From https://css.glass */
background: linear-gradient(rgba(2, 236, 205, 0.548),rgba(7, 30, 235, 0.897));
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(97, 88, 255, 0.34);
overflow: hidden;
}
#box{
display: flex;
justify-content: space-between;


}



#box2{
    font-family: font-1;
margin: 10px;
border: solid;
width: 70%;
padding: 5px;
text-align: center;
background: rgba(0, 179, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(0, 179, 255, 0.24);
}
.space div{
display: flex;
justify-content: space-between;
}


#box2 div{
    text-align: center;
}


#inpu{
    outline: none;
    border: none;
    text-align: center;
    height: 25px;
    width: auto;
    border-radius: 5px;
    margin: 5px;
}

#btn{
    outline: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}
#box3{
    margin: 10px;
    border: solid;
    width: 70%;
    padding: 5px;
    background: red;

}

.container {
    display: flex;
    position: relative;
    margin: 10px;
    width: 40%;
    height: auto;

     /* Ajoutez cette ligne pour positionner les divs relativement */
  }
  
  .div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 93.5%;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    position: relative; /* Ajoutez cette ligne pour positionner les divs absolument */
    transition: opacity 0.3s ease-in-out; /* Ajoutez une transition pour l'opacité */
  }
  
  .div:hover {
    background-color: #f0f0f0;
    opacity: 0.7; /* Réduisez légèrement l'opacité au survol */
  }
  
/* Media query pour les écrans larges */
@media (max-width: 480px) {
    #box{
    flex-direction: column;
    justify-content: center;
    align-items: center;/* Les divs sont alignées côte à côte */

    }
    .container {
        width: 70%;

    
         /* Ajoutez cette ligne pour positionner les divs relativement */
      }
  }

  #ville{
    margin: 5px;
    font-size: 25px;
  }

  #principal{
    font-size: 20px;
  }

  #div1{
    /* From https://css.glass */
background: rgba(255, 91, 0, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 91, 0, 0.34);
display: flex;
align-items: center;
justify-content: center;
  }

#div2{
    /* From https://css.glass */
background: rgba(0, 255, 78, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 255, 78, 0.34);

}

#div3{
    /* From https://css.glass */
background: rgba(216, 255, 0, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(216, 255, 0, 0.34);

}

h1{
    text-align: center;
    font-family: font-1;
}


.bulle1{

    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
/* From https://css.glass */
background: rgba(255, 0, 0, 0.36);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(255, 0, 0, 0.98);
    left: 50%;
    
}
.bulle2{

    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
/* From https://css.glass */
background: rgba(0, 255, 128, 0.36);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(0, 255, 128, 0.98);
    left: 30%;
    
    top: 200px;
}
.bulle3{
    top: 90px;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
/* From https://css.glass */
background: rgba(0, 0, 0, 0.36);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(0, 0, 0, 0.98);
}

.bulle4{

    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
/* From https://css.glass */
background: rgba(34, 0, 255, 0.36);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(34, 0, 255, 0.3);
    left: 70%;
    
    top: 200px;
}

span{
    text-align: center;
}